{
  :source-paths ["src" "cli"]
  :cache-blockers #{cumulo-util.build}
  :dependencies [
    [mvc-works/hsl "0.1.2"]
    [mvc-works/shell-page "0.1.15"]
    [respo/ui "0.3.16"]
    [respo/reel "0.4.2"]
    [cirru/parser "0.2.5"]
    [respo/value "0.3.0"]
    [respo "0.13.9"]
    [respo/reel "0.4.2"]
    [cumulo/util "0.1.12"]
    [medley "1.3.0"]
    [org.clojure/core.incubator "0.1.4"]
  ]
  :open-file-command [
    "subl"
    ["%s:%s:%s" :file :line :column]
  ]
  :dev-http {7000 "target/"}
  :builds {
    :client {
      :target :browser, :output-dir "target", :asset-path "./"
      :modules {
        :client {:init-fn cirru-writer.main/main!}
      }
      :devtools {:after-load cirru-writer.main/reload!}
      :compiler-options {:infer-externs :auto}
      :release {
        :output-dir "dist/", :module-hash-names 8
        :build-options {:manifest-name "assets.edn"}
      }
    }
    :test {
      :target :node-script, :output-to "target/test.js", :main cirru-writer.test/main!
      :devtools {:after-load cirru-writer.test/reload!}
    }
    :page {
      :target :node-script, :output-to "target/page.js", :main cirru-writer.page/main!
      :devtools {:after-load cirru-writer.page/main!}
    }
  }
}