
{:source-paths ["src"]
 :dependencies []
 :builds {:test {:target :node-script
                 :output-to "target/test.js"
                 :main cirru-writer.test/main!
                 :devtools {:after-load cirru-writer.test/reload!}}}}
